body
{

	margin: 0;
	padding: 0;
	background-size: cover;
}

#box
{
	background: white;
	width: 350px;
	height: 500px;
	top: 8%;
	left: 10%;
	position: absolute;
	padding: 40px;
	
}

#user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -8%;
	left: calc(50% - 50px);

}

h1
{
	text-align: center;
	font-family: impact;
	font-size: 35px;
	color: mediumvioletred;
}

#box p
{
 margin: 0;
 padding: 0;
 font-weight: bold;
}


#box input[type="text"], input[type="password"]
{
	width: 350px;
	height:30px;
	font-size: 18px;
	border: none;
	outline: none;
	font-family: sans-serif;
	background: transparent;
    
	
}

#box input[type="button"]
{
	width: 300px;
	height: 27px;
	color: white;
	background: black;
	border-radius: 10px;
	margin: 10px;
	border: none;

}

#box input[type="button"]:hover
{
    background-color:green;
}

h2
{
	color: black;
}

#box1 a 
{ 
	
}

ul li
{
	list-style:none;
}
ul li a 
{
 
  text-decoration:none;
  border:none;
  font-size: 30px;
  


}